################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGL_project/.vs/OpenGL_project/v15/Browse.VC.db
/OpenGL_project/.vs/OpenGL_project/v15/Browse.VC.opendb
